<body>
  <div class="site-main-wrapper">
    <button (click)="click()" class="hamburger">
      <div class="ham"></div>
      <div class="ham"></div>
      <div class="ham"></div>
    </button>
    <div class="mobile-nav">
      <button  (click)="close()"class="close"><img src="../assets/close.svg"></button>
      <ul>
        <li>
          <a (click)="close()" href="">Home</a>
        </li>
        <li>
          <a (click)="close()" href="#about">About</a>
        </li>
        <li>
          <a (click)="close()" href="#skills">Skills</a>
        </li>
        <li>
          <a (click)="close()" href="#work">Work</a>
        </li>
        <li>
          <a (click)="close()" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <header>
      <div class="container">
        <nav id="main-nav" class="flex items-center justify-between">
          <div class="left flex items-center">
            <div class="branding">
              <img src="./assets/myportfoliologo-header.png" alt="">  
            </div>
            <div>
              <a href="#">Home</a>
              <a href="#about">About</a>
              <a href="#skills">Skills</a>
              <a href="#work">Work</a>
            </div>
          </div>
          <div class="right">
            <a href="#contact"><button class="btn btn-primary">Contact</button></a>
          </div>
        </nav>
        <div class="hero flex items-center justify-between">
          <div class="left flex1 flex justify-center">
            <img src="./assets/Me1.jpeg">
          </div>
          <div class="right flex1">
            <h1>I'm a <span>Software Developer</span></h1>
            <p>With a sound experince total experience of 5+ years , having a keen
              interest in software development,
              engaged in Analysis, Design, Development and testing with hands-on 
              knowledge in Angular 8, JavaScript, Ionic framework, Java, Spring,
              Spring Boot, Hibernate, JPA, PostgreSQL.</p>
            <div>
              <a download href="../assets/Soft_Engg_Suman_CV - Exp.docx">
                <button class="btn btn-secondary">Download CV</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="about" class="about">
      <div class="container flex items-center">
        <!-- <div class="flex1">
          <img class="about-me-img" src="./assets/Me1.jpeg">
        </div> -->
        <div class="flex1">
          <h1>About <span>Me</span></h1>
          <h3>Hello! I am Suman.</h3>
          <p>My utmost interest is to excel as software professional and hold a position in
            corporate world through diligence and dedication and to
            ensure my highest contribution towards the organization I work for.</p>
          <div class="social">
            <a href="#"><img src="../assets/facebook2.svg" alt=""></a>
            <a href="#" (click)="goToLinkdin()"><img src="../assets/linkedin.svg" alt=""></a>
          </div>
        </div>
      </div>
    </section>
    <section id="skills" class="services">
      <div class="container">
        <h1 class="section-heading">My <span>Skills</span></h1>
        <p>Skills paragraph</p>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <img src="../assets/embed2.svg">
          <h2>Web-Development</h2>
          <p>Having knowledge in HTML, CSS, Bootstrap.</p>
        </div>
        <div class="card">
          <img src="./assets/framework.svg">
          <h2>UI/UX Framworks</h2>
          <p>knowledge in Web-frameworks like Angular, Angular material. Depth knowledge 
            in angular observable, subjects and routing.
            Basic knowledge in ionic framework with angular to make
            the application hybrid.
          </p>
        </div>
        <div class="card">
          <img src="./assets/js-format.svg">
          <h2>Scripting Language</h2>
          <p>knowledge in javascript with latest ES6 version to make manupulate DOM elements.</p>
        </div>
        <div class="card">
          <img src="./assets/java.svg">
          <h2>Core Java</h2>
          <p>having knowledge in core java. Good experience in java 8 version and multithreading concepts.</p>
        </div>
        <div class="card">
          <img src="./assets/springio-ar21.svg">
          <h2>Spring boot</h2>
          <p>knowledge in spring framework with its powerful application Spring Boot. Experienced in creating Rest
            enpoints. Also, handson experience in JWT with spring secuity in place to make endpoints save and secure.
          </p>
        </div>
        <div class="card">
          <img src="../assets/hibernate-icon.svg">
          <h2>Hibernate and JPA</h2>
          <p>knowledge in ORM tool as Hibernate and with its implementation as JPA to make
            the database connection easy. Also, experience in Spring Data JPA to make DB operations powerful
            with less code.
          </p>
        </div>
      </div>
    </section>
    <section class="freelancer">
      <h1>
        I am available for freelancer also!
      </h1>
      <p>As per my technical knowledge, i will ensure to give quality product</p>
      <a download href="../assets/Suman_Chatterjee_Updated_Mod.pdf">
        <button class="btn btn-primary">Download CV</button>
      </a>
    </section>
    <section id="work" class="work">
      <div class="container"> <!--Work experience starts-->
        <h1 class="section-heading">Work <span>Experience</span></h1>
        <div class="box">
          <div class="box-row">
            <div class="box-cell box1">
              <div class="flex1">
                <img class="company-img" src="../assets/HTC-Global-Services.png">
              </div>
              <div class="flex1">
                <h1 class="emplDetails">Employment Details</h1>
                <span>Duration: </span>
                <p>April'18-Aug'2021</p>
                <br />
                <span>Website: </span><br /><a style="text-decoration: underline;" (click)="goToCompany('HTC')">Go to website</a>
                <br /><br />
                <span>Designation: </span>
                <p>Software Development Engineer</p>
              </div>
            </div>
            <div class="box-cell box1">
              <div class="flex1">
                <img class="company-img" src="../assets/DBS_BANK_Image.PNG">
              </div>
              <div class="flex1">
                <h1 class="emplDetails">Employment Details</h1>
                <span>Duration: </span>
                <p>Aug'21-April'24</p>
                <br />
                <span>Website: </span><br /><a style="text-decoration: underline;" (click)="goToCompany('DBS')">Go to website</a>
                <br /><br />
                <span>Designation: </span>
                <p style="word-wrap: break-word;">Senior Software Development Engineer</p>
              </div>
            </div>
            <div class="box-cell box3">
              <div class="flex1">
                <img class="company-img" src="../assets/OpenText_Image.PNG">
              </div>
              <div class="flex1">
                <h1 class="emplDetails">Employment Details</h1>
                <span>Duration: </span>
                <p>May'24-Present</p>
                <br />
                <span>Website: </span><br /><a style="text-decoration: underline;" (click)="goToCompany('OpenText')">Go to website</a>
                <br /><br />
                <span>Designation: </span>
                <p style="word-wrap: break-word;">Senior Software Development Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--Work experience ends-->
    </section>
    <section class="projects">
      <div class="container">
        <h1 class="section-heading">Office <span>Projects</span></h1>
        <div class="card-wrapper">
          <div class="card">
            <div class="card-content">
              <h1>Intranet Automated Stimulated Transaction(iAST)</h1>
              <p>State Farm</p>
              <span>September2020 - till date</span>
              <p>Modernization and migration of an existing Application (written in VBA) to advanced and object-
                oriented JavaScript concept to automate the Rumba Screen thus reducing manual entry of insurance details in each
                Rumba screen.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h1>StoneApp tile designing</h1>
              <p>Stone Grid USA</p>
              <span>Nov 2019 to Sep 2020</span>
              <p>Migration of an existing desktop application (written in Angular JS) 
                to Hybrid Application using Angular8 and ionic framework with the help 
                of apache Cordova plugins (Mainly for Call APIs, 
                Google Maps and Calendar integration) with 
                <span class="readControl" *ngIf="readMorFirst">the help of Spring Boot REST API and Hibernate handling the back-end. 
                  Introduced Spring Security (To Authorize and Authenticate) with the help of JWT. 
                  The Application is based on the retail business where end-users will be able to 
                  request customized tile design for their home/offices. 
                  Modified and Analyzed the code to optimize pages performance for faster 
                  loading and browsing, used Ivy Rendering engine in Angular 8, 
                  to achieve most of it. Used H2-Console in Spring boot to ensure the 
                  Test results are as expected without effecting the product Database tables.</span>
              </p>
              <a style="text-decoration: underline;" *ngIf="readMorFirst" (click)="readLess()">Read Less...</a>
              <a style="text-decoration: underline;" *ngIf="!readMorFirst" (click)="readMore1()">Read More...</a>
             
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h1>Account Management Portal (AMP)</h1>
              <p>HTC Global Services</p>
              <span>Aug 2018 to Nov 2019 (Full Time)</span>
              <p>Using Facade Design pattern along with, 
                Spring framework, PostgreSQL, JavaScript, 
                JSP and JSTL, employee details (employment details, OSC information, 
                Logging Hours, resource management) were captured to keep a track. Up-
              <span class="readControl" *ngIf="readMoreSecond">
                dating the details and calculate the Logging hours of an employee was the focus of 
                that portal. Used Basic Spring framework with all JARs loaded manually, later we went on 
                migrating from this legacy spring XML based model to Spring boot with Angular 
                along with Hibernate as an ORM tool.
              </span>
              </p>
              <a style="text-decoration: underline;" *ngIf="readMoreSecond" (click)="readLess2()">Read Less...</a>
              <a style="text-decoration: underline;" *ngIf="!readMoreSecond" (click)="readMore2()">Read More...</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">
        <h1 class="section-heading">Contact <span>Me</span></h1>
        <div class="card-wrapper">
          <div class="card">
            <img src="../assets/mobile.svg" alt="">
            <h2>Call me on</h2>
            <h6>+91-8617255634</h6>
          </div>
          <div class="card">
            <img src="../assets/envelop.svg" alt="">
            <h2>Email me at</h2>
            <h6>chatterjeesuman888@gmail.com</h6>
          </div>
          <div class="card">
            <img src="../assets/map.svg" alt="">
            <h2>Address</h2>
            <h6>Begumpet - Hyderabad,Telengana</h6>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <img class="footer-logo" src="./assets/myportfoliologo-footer.png" alt="">
      <div class="footer-socials">
        <a style="margin-right: 2rem;" (click)="goToLinkdin()"><img style=" background: var(--primary);" src="../assets/linkedin.svg" alt=""></a>
        <a style="margin-left:  2rem" href="#"><img style=" background: var(--primary);" src="../assets/facebook2.svg" alt=""></a>
      </div>
      <div class="copyright">
        <span style="color: gray;">Copyright 2021 @MyportFolio. All Rights Reserved.</span>
      </div>
    </footer>
  </div>
</body>